<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные о компании</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-center">Данные о компании:</h2>
            <form class="col-md-4" th:action="@{/employers/company}" th:object="${company}" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <div class="form-group">
                    <label for="name">Название</label>:
                    <input class="form-control" type="text" id="name" name="name" th:field="*{name}" autofocus="autofocus" required /> <br />
                </div>
                <div class="form-group">
                    <label for="type">Тип</label>:
                    <input class="form-control" type="text" id="type" name="type" th:field="*{type}" required /> <br />
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>:
                    <input class="form-control" type="text" id="description" name="description" th:field="*{description}" required /> <br />
                </div>
                <div class="form-group">
                    <label for="countWorkers">Количество работников</label>:
                    <input class="form-control" type="text" id="countWorkers" name="countWorkers" th:field="*{countWorkers}" required /> <br />
                </div>
                <div class="form-group">
                    <label for="siteUrl">Сайт</label>:
                    <input class="form-control" type="text" id="siteUrl" name="siteUrl" th:field="*{siteUrl}" /> <br />
                </div>
                <a href="employers_home.html" class="btn btn-primary mt-3" th:href="@{'/employers/home'}">Назад</a>
                <input type="submit" class="btn btn-primary mt-3" value="Обновить" />
            </form>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>