<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <h1>Домашняя страница</h1>
    <div>
        <ul>
            <li><a href="company_info.html" th:href="@{'/employers/company'}">Информация о компании</a></li>
            <li><a href="internships/internships_list.html" th:href="@{'/employers/internships'}">Список стажировок</a></li>
            <li><a href="supervisors/supervisors_list.html" th:href="@{'/employers/supervisors'}">Список контактных лиц</a></li>
        </ul>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>