<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/admin_header.html"></header>
    <h1>Admin home page</h1>
    <div>
        <ul>
            <li><a href="users/users_list.html" th:href="@{'/admin/users'}">Users list</a></li>
            <li><a href="companies/company_list.html" th:href="@{'/admin/companies'}">Company list</a></li>
        </ul>
    </div>

    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>