<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать стажировку</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <div class="container">
        <h2 class="text-center">Создать стажировку:</h2>
        <div class="row justify-content-center">
            <form class="col-md-6" th:action="@{/employers/internships/add}" th:object="${internship}" method="post">
                <div class="form-group">
                    <label for="title">Заголовок</label>
                    <input type="text" name="title" th:field="*{title}" class="form-control" id="title" placeholder="Введите заголовок" required>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="start_date">Дата начала:</label>
                            <input type="date" name="startDate" th:field="*{startDate}" class="form-control" id="start_date" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="end_date">Дата конца</label>
                            <input type="date" name="endDate" th:field="*{endDate}" class="form-control" id="end_date" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="city">Город</label>
                            <input type="text" name="city" th:field="*{city}" class="form-control" id="city" placeholder="Введите город" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="address">Адрес</label>
                            <input type="text" name="address" th:field="*{address}" class="form-control" id="address" placeholder="Введите адрес" required>
                        </div>
                    </div>
                </div>
                <h3>Требования:</h3>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="educationLevel">Уровень образования</label>
                            <select class="form-select" id="educationLevel" name="educationLevel" th:field="${requirement.educationLevel}">
                                <option value="ВУЗ" selected>ВУЗ</option>
                                <option value="Колледж">Колледж</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="course">Курс обучения</label>
                            <select class="form-select" id="course" name="course" th:field="${requirement.course}">
                                <option value="1-2" selected>1-2</option>
                                <option value="2-3">2-3</option>
                                <option value="3-4">3-4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="industry">Область</label>
                            <select class="form-select" id="industry" name="industry" th:field="${requirement.industry}">
                                <option value="IT" selected>IT</option>
                                <option value="Финансы">Финансы</option>
                                <option value="Юриспруденция">Юриспруденция</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h3>Описание:</h3>
                <div class="row">
                    <div class="form-group">
                        <label for="tasksDescription">Задачи, которые потребуется рещать:</label>
                        <textarea name="tasksDescription" th:field="${description.tasksDescription}" class="form-control" id="tasksDescription" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="conditions">Условия:</label>
                        <textarea name="conditions" th:field="${description.conditions}" class="form-control" id="conditions" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="requiredSkills">Необходимые навыки:</label>
                        <textarea name="requiredSkills" th:field="${description.requiredSkills}" class="form-control" id="requiredSkills" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" name="jobGuarantee" th:field="${description.jobGuarantee}" class="form-check-input" id="jobGuarantee">
                            <label for="jobGuarantee" class="form-check-label">
                                Трудоустройство:
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="workSchedule">Режим работы:</label>
                            <select class="form-select" id="workSchedule" name="workSchedule" th:field="${description.workSchedule}">
                                <option value="Полная занятость" selected>Полная занятость</option>
                                <option value="Частичная занятость">Частичная занятость</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="salary">Зарплата:</label>
                            <input type="number" name="salary" th:field="${description.salary}" class="form-control" id="salary" required>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${not #lists.isEmpty(supervisorsList)}">
                    <div class="col">
                        <div class="form-group">
                            <select class="form-select" id="supervisor" name="supervisor" th:field="*{supervisor.id}">
                                <option th:each="i : ${supervisorsList}" th:value="${i.id.toString()}" th:text="${i.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <a href="internships_list.html" class="btn btn-primary mt-3" th:href="@{'/employers/internships'}">Назад</a>
                <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
            </form>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>