<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стажировка</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <div class="container">
        <h2 th:text="${internship.title}"></h2>
        <h3>Основная информация</h3>
        <p th:text="${#strings.prepend(internship.startDate, 'Дата начала: ')}"></p>
        <p th:text="${#strings.prepend(internship.endDate, 'Дата конца: ')}"></p>
        <p th:text="${#strings.prepend(internship.city, 'Город: ')}"></p>
        <p th:text="${#strings.prepend(internship.address, 'Адрес: ')}"></p>
        <h3>Описание:</h3>
        <p th:text="${#strings.prepend(internship.description.salary, 'Зарплата: ')}"></p>
        <p th:text="${#strings.prepend(internship.description.jobGuarantee, 'Гарантия трудоустройства: ')}"></p>
        <p th:text="${#strings.prepend(internship.description.workSchedule, 'Занятость: ')}"></p>
        <h4>Условия:</h4>
        <p th:text="${internship.description.conditions}"></p>
        <h4>Задачи, которые предстоит решать:</h4>
        <p th:text="${internship.description.tasksDescription}"></p>
        <h4>Необходимые навыки:</h4>
        <p th:text="${internship.description.requiredSkills}"></p>
        <h3>Требования:</h3>
        <p th:text="${#strings.prepend(internship.requirements.educationLevel, 'Уровень образования: ')}"></p>
        <p th:text="${#strings.prepend(internship.requirements.course, 'Курс обучения: ')}"></p>
        <p th:text="${#strings.prepend(internship.requirements.industry, 'Область: ')}"></p>
        <h3>Контактная информация:</h3>
        <p th:text="${#strings.prepend(internship.supervisor.name, 'Имя: ')}"></p>
        <p th:text="${#strings.prepend(internship.supervisor.email, 'Почта: ')}"></p>
        <p th:text="${#strings.prepend(internship.supervisor.phone, 'Телефон: ')}"></p>
        <p th:text="${#strings.prepend(internship.supervisor.position, 'Должность: ')}"></p>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>