<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список стажировок</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <div class="container">
        <h2>Список стажировок:</h2>
        <a href="../employers_home.html" class="btn btn-primary mb-2" th:href="@{'/employers/home'}">Назад</a>
        <a href="internship_create.html" class="btn btn-primary mb-2" th:href="@{'/employers/internships/add'}">Создать</a>
        <div class="row justify-content-start">
            <div th:if="${not #lists.isEmpty(internships)}" class="col-md-10">
                <table class="table table-striped">
                    <tr>
                        <th>№</th>
                        <th>Заголовок</th>
                        <th>Дата начала</th>
                        <th>Дата конца</th>
                        <th>Город</th>
                        <th>Адрес</th>
                        <th>Действия:</th>
                    </tr>
                    <tr th:each="internship : ${internships}">
                        <td th:text="${internship.id}"></td>
                        <td th:text="${internship.title}"></td>
                        <td th:text="${internship.startDate}"></td>
                        <td th:text="${internship.endDate}"></td>
                        <td th:text="${internship.city}"></td>
                        <td th:text="${internship.address}"></td>
                        <td>
                            <a href="internship_detailed.html" class="btn btn-primary" th:href="@{/employers/internships/{internshipId}(internshipId=${internship.id})}">Подробнее</a>
                            <a href="internship_update.html" class="btn btn-primary m-2" th:href="@{/employers/internships/{internshipId}/update(internshipId=${internship.id})}">Обновить</a>
                            <form th:action="@{/employers/internships/{internshipId}/delete(internshipId=${internship.id})}" method="post">
                                <input type="submit" value="Удалить" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>