<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить контактное лицо</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <header th:include="fragments/employers_header.html"></header>
    <h2 class="text-center">Обновить контактное лицо:</h2>
    <div class="row justify-content-center">
        <form class="col-md-4" th:action="@{/employers/supervisors/{supervisorId}/update(supervisorId=${supervisor.id})}" th:object="${supervisor}" method="post">
            <input type="number" name="id" th:field="*{id}" class="form-control" id="id" hidden>
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" name="name" th:field="*{name}" class="form-control" id="name" placeholder="Введите имя" required>
            </div>
            <div class="form-group">
                <label for="email">Почта:</label>
                <input type="email" name="email" th:field="*{email}" class="form-control" id="email" placeholder="Введите почту" required>
            </div>
            <div class="form-group">
                <label for="position">Должность</label>
                <input type="text" name="position" th:field="*{position}" class="form-control" id="position" placeholder="Введите должность" required>
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="number" name="phone" th:field="*{phone}" class="form-control" id="phone" placeholder="Введите телефон" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
        </form>
    </div>
    <footer th:include="fragments/footer.html"></footer>
</div>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>