<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать контактное лицо</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <div class="container">
        <h2 class="text-center">Создать контактное лицо:</h2>
        <div class="row justify-content-center">
            <form class="col-md-4" th:action="@{/employers/supervisors/add}" th:object="${supervisor}" method="post">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Введите имя" required>
                </div>
                <div class="form-group">
                    <label for="email">Почта:</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Введите почту" required>
                </div>
                <div class="form-group">
                    <label for="position">Должность</label>
                    <input type="text" name="position" class="form-control" id="position" placeholder="Введите должность" required>
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="number" name="phone" class="form-control" id="phone" placeholder="Введите телефон" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
            </form>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>