<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список контактных лиц</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <div class="container">
        <h2>Список контактных лиц:</h2>
        <a href="../employers_home.html" class="btn btn-primary mb-2" th:href="@{'/employers/home'}">Назад</a>
        <a href="supervisor_create.html" class="btn btn-primary mb-2" th:href="@{'/employers/supervisors/add'}">Создать</a>
        <div class="row justify-content-start">
            <div th:if="${not #lists.isEmpty(supervisors)}" class="col-md-10">
                <table class="table table-striped">
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Почта</th>
                        <th>Телефон</th>
                        <th>Должность</th>
                        <th>Действия</th>
                    </tr>
                    <tr th:each="supervisor : ${supervisors}">
                        <td th:text="${supervisor.id}"></td>
                        <td th:text="${supervisor.name}"></td>
                        <td th:text="${supervisor.email}"></td>
                        <td th:text="${supervisor.phone}"></td>
                        <td th:text="${supervisor.position}"></td>
                        <td>
                            <a href="supervisor_detailed.html" class="btn btn-primary" th:href="@{/employers/supervisors/{supervisorId}(supervisorId=${supervisor.id})}">Подробнее</a>
                            <a href="supervisor_update.html" class="btn btn-primary m-2" th:href="@{/employers/supervisors/{supervisorId}/update(supervisorId=${supervisor.id})}">Обновить</a>
                            <form th:action="@{/employers/supervisors/{supervisorId}/delete(supervisorId=${supervisor.id})}" method="post">
                                <input type="submit" value="Удалить" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>