<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контактное лицо</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/employers_header.html"></header>
    <div class="container">
        <h2>Информация о контактном лице:</h2>
        <div>
            <p th:text="${#strings.prepend(supervisor.name, 'Имя: ')}"></p>
            <p th:text="${#strings.prepend(supervisor.position, 'Должность: ')}"></p>
            <p th:text="${#strings.prepend(supervisor.email, 'Почта: ')}"></p>
            <p th:text="${#strings.prepend(supervisor.phone, 'Телефон: ')}"></p>
        </div>
        <div class="row justify-content-start">
            <div th:if="${not #lists.isEmpty(internships)}" class="col-md-10">
                <table class="table table-striped">
                    <tr>
                        <th>№</th>
                        <th>Заголовок</th>
                        <th>Дата начала</th>
                        <th>Дата конца</th>
                        <th>Город</th>
                        <th>Адрес</th>
                        <th>Действия:</th>
                    </tr>
                    <tr th:each="internship : ${internships}">
                        <td th:text="${internship.id}"></td>
                        <td th:text="${internship.title}"></td>
                        <td th:text="${internship.startDate}"></td>
                        <td th:text="${internship.endDate}"></td>
                        <td th:text="${internship.city}"></td>
                        <td th:text="${internship.address}"></td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>