<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Компании</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/admin_header.html"></header>
    <div class="container">
        <h2 class="text-center">Список компаний:</h2>
        <a href="../admin_home.html" class="btn btn-primary mb-3" th:href="@{/admin/home}">Назад</a>
        <a href="new_company.html" class="btn btn-primary mb-3" th:href="@{'/admin/companies/add'}">Создать</a>
        <div th:if="${not #lists.isEmpty(allCompanies)}">
            <table class="table table-striped">
                <tr>
                    <th>№</th>
                    <th>Тип</th>
                    <th>Название</th>
                    <th>Количество работников</th>
                    <th>Сайт</th>
                    <th>Действия</th>
                </tr>
                <tr th:each="company : ${allCompanies}">
                    <td th:text="${company.id}"></td>
                    <td th:text="${company.type}"></td>
                    <td th:text="${company.name}"></td>
                    <td th:text="${company.countWorkers}"></td>
                    <td th:text="${company.siteUrl}"></td>
                    <td>
                        <a href="company_detailed.html" class="btn btn-primary" th:href="@{/admin/companies/{companyId}(companyId=${company.id})}">Подробнее</a>
                        <a href="update_company.html" class="btn btn-primary" th:href="@{/admin/companies/{companyId}/update(companyId=${company.id})}">Обновить</a>
                        <form th:action="@{/admin/companies/{companyId}/delete(companyId=${company.id})}" method="post">
                            <input type="submit" class="btn btn-danger mt-3" value="Удалить" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>