<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${company.name}"></title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/admin_header.html"></header>
    <div class="container">
        <h2 th:text="${company.name}"></h2>
        <h3 th:text="${company.siteUrl}"></h3>
        <a href="company_list.html" class="btn btn-primary" th:href="@{/admin/companies}">Назад</a>
        <div th:text="${company.description}"></div>
        <div th:if="${not #lists.isEmpty(company.internships)}">
            <h3>Список стажировок:</h3>
            <table class="table table-striped">
                <tr>
                    <th>№</th>
                    <th>Заголовок</th>
                    <th>Дата начала</th>
                    <th>Дата конца</th>
                    <th>Город</th>
                    <th>Адрес</th>
                </tr>
                <tr th:each="internship : ${company.internships}">
                    <td th:text="${internship.id}"></td>
                    <td th:text="${internship.title}"></td>
                    <td th:text="${internship.startDate}"></td>
                    <td th:text="${internship.endDate}"></td>
                    <td th:text="${internship.city}"></td>
                    <td th:text="${internship.address}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${not #lists.isEmpty(company.supervisors)}">
            <h3>Контактные лица:</h3>
            <table class="table table-striped">
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Почта</th>
                    <th>Должность</th>
                    <th>Номер телефона</th>
                </tr>
                <tr th:each="supervisor : ${company.supervisors}">
                    <td th:text="${supervisor.id}"></td>
                    <td th:text="${supervisor.name}"></td>
                    <td th:text="${supervisor.email}"></td>
                    <td th:text="${supervisor.position}"></td>
                    <td th:text="${supervisor.phone}"></td>
                </tr>
            </table>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>