<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать компанию:</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/admin_header.html"></header>
    <div class="container">
        <h2 class="text-center">Создать компанию:</h2>
        <div class="row justify-content-center">
            <form class="col-md-4" th:action="@{'/admin/companies/add'}" th:object="${companyForm}" method="post">
                <h3>Информация о компании:</h3>
                <div class="form-group">
                    <label for="name">Название</label>:
                    <input type="text" class="form-control" id="name" name="name" autofocus="autofocus" required /> <br />
                </div>
                <div class="form-group">
                    <label for="type">Тип</label>:
                    <input type="text" class="form-control" id="type" name="type" required /> <br />
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>:
                    <textarea name="description" class="form-control" id="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="countWorkers">Количество работников</label>:
                    <input type="text" class="form-control" id="countWorkers" name="countWorkers" required /> <br />
                </div>
                <div class="form-group">
                    <label for="siteUrl">Сайт</label>:
                    <input type="text" class="form-control" id="siteUrl" name="siteUrl" /> <br />
                </div>
                <h3>Аккаунт:</h3>
                <div class="form-group">
                    <label for="username">Почта</label>:
                    <input type="email" id="username" class="form-control" name="username" th:field="${user.username}" autofocus="autofocus" required /> <br />
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>:
                    <input type="password" id="password" class="form-control" th:field="${user.password}" name="password" required /> <br />
                </div>
                <a href="company_list.html" class="btn btn-primary" th:href="@{/admin/companies}">Назад</a>
                <input type="submit" class="btn btn-primary" value="Создать" />
            </form>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>