<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.prepend(company.name, 'Обновить: ')}"></title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/admin_header.html"></header>
    <div class="container">
        <h2 class="text-center" th:text="${#strings.prepend(company.name, 'Обновить: ')}"></h2>
        <div class="row justify-content-center">
            <form class="col-md-4" th:action="@{/admin/companies/{companyId}/update(companyId=${company.id})}" th:object="${company}" method="post">
                <div class="form-group">
                    <label for="name">Название</label>:
                    <input type="text" class="form-control" th:field="*{name}" id="name" name="name" autofocus="autofocus" required /> <br />
                </div>
                <div class="form-group">
                    <label for="type">Тип</label>:
                    <input type="text" class="form-control" th:field="*{type}" id="type" name="type" required /> <br />
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>:
                    <textarea name="description" class="form-control" th:field="*{description}" id="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="countWorkers">Количество работников</label>:
                    <input type="text" class="form-control" th:field="*{countWorkers}" id="countWorkers" name="countWorkers" required /> <br />
                </div>
                <div class="form-group">
                    <label for="siteUrl">Сайт</label>:
                    <input type="text" class="form-control" th:field="*{siteUrl}" id="siteUrl" name="siteUrl" /> <br />
                </div>
                <a href="company_list.html" class="btn btn-primary" th:href="@{/admin/companies}">Назад</a>
                <input type="submit" class="btn btn-primary" value="Обновить" />
            </form>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>