<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей:</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header th:include="fragments/admin_header.html"></header>
    <div class="container">
        <h2 class="text-center">Список пользователей:</h2>
        <a href="../admin_home.html" class="btn btn-primary mb-3" th:href="@{'/admin/home'}">Назад</a>
        <a href="user_create.html" class="btn btn-primary mb-3" th:href="@{'/admin/users/add'}">Создать пользователя</a>
        <a href="admin_create.html" class="btn btn-primary mb-3" th:href="@{'/admin/users/add-admin'}">Создать Админа</a>
        <div th:if="${not #lists.isEmpty(allUsers)}">
            <table class="table table-striped">
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Логин</th>
                    <th>Действия</th>
                </tr>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <form th:action="@{/admin/users/{userId}/delete(userId=${user.id})}" method="post">
                            <input type="submit" value="Удалить" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>