<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark" th:fragment="admin_header">
            <div class="container-fluid">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="admin_home.html" th:href="@{'/admin/home'}">Домой</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="users/users_list.html" th:href="@{'/admin/users'}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="companies/company_list.html" th:href="@{'/admin/companies'}">Компании</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>