<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark" th:fragment="employers_header">
            <div class="container-fluid">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../employers/employers_home.html" th:href="@{'/employers/home'}">Домой</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../employers/company_info.html" th:href="@{'/employers/company'}">Компания</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../employers/internships/internships_list.html" th:href="@{'/employers/internships'}">Стажировки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../employers/supervisors/supervisors_list.html" th:href="@{'/employers/supervisors'}">Контакты</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>