<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Вход</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">Страница входа</h1>
            <p th:if="${loginError}" class="error text-center">Неправильная почта или пароль</p>
            <form class="col-md-4" th:action="@{/login}" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <div class="form-group">
                    <label for="username">Почта</label>:
                    <input class="form-control" type="email" id="username" name="username" autofocus="autofocus" /> <br />
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>:
                    <input class="form-control" type="password" id="password" name="password" /> <br />
                </div>
                <input type="submit" class="btn btn-primary mt-3" value="Вход" />
            </form>
        </div>
    </div>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>